<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      <center>
         Pizza là CikPah! CikPah là Pizza!
         </center>
      </h1>
    </div>
  </div>
</section>
<% end %>

	<div>  <br>

<div class="w3-content w3-section w3-center" style="max-width:100%"> 
  <img class="mySlides" src="https://thepizzacompany.vn/images/thumbs/000/0002411__Banner_HDE50.jpeg" style="width:100%">
  <img class="mySlides" src="https://thepizzacompany.vn/images/thumbs/000/0002634_BannerSlide_Combo(1200x480).jpeg" style="width:100%">
  <img class="mySlides" src="https://thepizzacompany.vn/images/thumbs/000/0002641_Banner-1200x480.jpeg" style="width:100%">
  <img class="mySlides" src="https://thepizzacompany.vn/images/thumbs/000/0002645_Banner-Slider-ComBoTet.jpeg" style="width:100%">
  <img class="mySlides" src="https://thepizzacompany.vn/images/thumbs/000/0002370_2.jpeg" style="width:100%">
  <img class="mySlides" src="https://thepizzacompany.vn/images/thumbs/000/0002652_Banner-Slider-2.jpeg" style="width:100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 5000); // Change image every 2 seconds
}
</script>

</div> <br>
<h3 class="my-4">
<center><b><a href="KhuyenMai.html" style="color: red; font-size: 35px; text-a">Gà</a></b></center>
</h3> <br> <br>
 <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th ><div class="col-10 col-sm-6 col-md-3 py-2 flex-fit">
    <div class="card product product-card max-height">
        <div class="comp-img-resize card-img-top">
            <div class="comp-img-resize-img">
                <img loading="lazy" class="" src="https://img.dominos.vn/ga-khong-xuong.jpg" alt="">
                </div>
            </div>
        <div class="card-body justify-content-between"><br>
            <a class="product-name bs-product-name" href="#">Gà Không Xương BBQ</a>
            <p class="product-price">
            <span>69,000₫</span></p></div></div></div></th>
      <th > <div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/G%C3%A0-t%E1%BA%A9m-b%E1%BB%99t-ph%C3%B4-mai.jpg" alt=""></div></div><div class="card-body justify-content-between"><br><a class="product-name bs-product-name" href="#">Gà Tẩm Bột Phô Mai</a><p class="product-price"><span>69,000₫</span></p></div></div></div></th>
      <th> <div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/BBQ-ki%E1%BB%83u-m%E1%BB%B9.jpg" alt=""></div></div><div class="card-body justify-content-between"><br><a class="product-name bs-product-name" href="#">Cánh Gà BBQ Kiểu Mỹ (4 miếng)</a><p class="product-price"><span>79,000₫</span></p></div></div></div></th>
      <th> <div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/BBQ-ki%E1%BB%83u-m%E1%BB%B9.jpg" alt=""></div></div><div class="card-body justify-content-between"><br><a class="product-name bs-product-name" href="#">Cánh Gà BBQ Kiểu Mỹ (6 miếng)</a><p class="product-price"><span>99,000₫</span></p></div></div></div></th>

    </tr>
  </thead>
</table> 

<h3 class="my-4">
<center><b><a href="KhuyenMai.html" style="color: red; font-size: 35px; text-a">Mỳ Ý Và Khoai Tây</a></b></center>
</h3> <br> <br>
 <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th > <div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/pasta-h%E1%BA%A3i-s%E1%BA%A3n.jpg" alt=""></div></div><div class="card-body justify-content-between"><a class="product-name bs-product-name" href="#">Mì Ý Hải Sản Đút Lò</a><p class="product-price"><span>79,000₫</span></p></div></div></div></th>
      <th > <div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/pasta-rau-cu.jpg" alt=""></div></div><div class="card-body justify-content-between"><br><a class="product-name bs-product-name" href="#">Mì Ý Rau Củ Đút Lò</a><p class="product-price"><span>79,000₫</span></p></div></div></div></th>
       <th ><div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/pasta-bo-bam.jpg" alt=""></div></div><div class="card-body justify-content-between"><br><a class="product-name bs-product-name" href="#">Mì Ý Bò Bằm Đút Lò</a><p class="product-price"><span>79,000₫</span></p></div></div></div></th>
      <th > <div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/Khoai-tay-pho-mai.jpg" alt=""></div></div><div class="card-body justify-content-between"><br><a class="product-name bs-product-name" href="#">Khoai Tây Phô Mai Đút Lò</a><p class="product-price"><span>39,000₫</span></p></div></div></div></th>
    </tr>
  </thead>
</table>

<h3 class="my-4">
<center><b><a href="KhuyenMai.html" style="color: red; font-size: 35px; text-a">Xúc Xích Và Bánh Mì</a></b></center>
</h3> <br> <br>
 <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th ><div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/xuc-xich.jpg" alt=""></div></div><div class="card-body justify-content-between"><br><a class="product-name bs-product-name" href="#">Xúc Xích Xông Khói Đút Lò</a><p class="product-price"><span>39,000₫</span></p></div></div></div>
     </th>
      <th > <div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/xuc-xich.jpg" alt=""></div></div><div class="card-body justify-content-between"><br><a class="product-name bs-product-name" href="#">Xúc Xích Xông Khói Đút Lò</a><p class="product-price"><span>69,000₫</span></p></div></div></div></th>
       <th ><div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/banh-mi-bo-toi.jpg" alt=""></div></div><div class="card-body justify-content-between"><br><a class="product-name bs-product-name" href="#">Bánh Mì Nướng Bơ Tỏi</a><p class="product-price"><span>39,000₫</span></p></div></div></div></th>
      <th > <div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/banh-mi-pho-mai.jpg" alt=""></div></div><div class="card-body justify-content-between"><br><a class="product-name bs-product-name" href="#">Bánh Mì Nướng Phô Mai</a><p class="product-price"><span>59,000₫</span></p></div></div></div></th>
    </tr>
  </thead>
</table>
