<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      <center>
         Pizza là CikPah! CikPah là Pizza!
         </center>
      </h1>
    </div>
  </div>
</section>
<% end %>

	<div>  <br>

<div class="w3-content w3-section w3-center" style="max-width:100%"> 
  <img class="mySlides" src="https://thepizzacompany.vn/images/thumbs/000/0002411__Banner_HDE50.jpeg" style="width:100%">
  <img class="mySlides" src="https://thepizzacompany.vn/images/thumbs/000/0002634_BannerSlide_Combo(1200x480).jpeg" style="width:100%">
  <img class="mySlides" src="https://thepizzacompany.vn/images/thumbs/000/0002641_Banner-1200x480.jpeg" style="width:100%">
  <img class="mySlides" src="https://thepizzacompany.vn/images/thumbs/000/0002645_Banner-Slider-ComBoTet.jpeg" style="width:100%">
  <img class="mySlides" src="https://thepizzacompany.vn/images/thumbs/000/0002370_2.jpeg" style="width:100%">
  <img class="mySlides" src="https://thepizzacompany.vn/images/thumbs/000/0002652_Banner-Slider-2.jpeg" style="width:100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 5000); // Change image every 2 seconds
}
</script>

</div> <br>
<h3 class="my-4">

</h3> <br> <br>
 <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th ><div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/coke-zero.jpg" alt=""></div></div><div class="card-body justify-content-between"><a class="product-name bs-product-name" href="#">Lon coca zero 330ml </a><p class="product-price"><span>20,000₫</span></p></div></div></div></th>
      <th > <div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/coke-390.jpg" alt=""></div></div><div class="card-body justify-content-between"><a class="product-name bs-product-name" href="#">Chai coca 390ml </a><p class="product-price"><span>20,000₫</span></p></div></div></div></th>
      <th> <div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/fanta-390.jpg" alt=""></div></div><div class="card-body justify-content-between"><a class="product-name bs-product-name" href="#">Chai Fanta 390ml</a><p class="product-price"><span>20,000₫</span></p></div></div></div></th>
      <th> <div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/Sprite-390.jpg" alt=""></div></div><div class="card-body justify-content-between"><a class="product-name bs-product-name" href="#">Chai Sprite 390ml</a><p class="product-price"><span>20,000₫</span></p></div></div></div></th>

    </tr>
  </thead>
</table> 


 <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th ><div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/daisani.jpg" alt=""></div></div><div class="card-body justify-content-between"><a class="product-name bs-product-name" href="#">Nước suối Dasani 500ml</a><p class="product-price"><span>20,000₫</span></p></div></div></div></th>
      <th ><div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/coke-light.jpg" alt=""></div></div><div class="card-body justify-content-between"><a class="product-name bs-product-name" href="#">Lon coca plus 330ml</a><p class="product-price"><span>25,000₫</span></p></div></div></div></th>
       <th ><div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/chanh-sa.jpg" alt=""></div></div><div class="card-body justify-content-between"><a class="product-name bs-product-name" href="#">Trà chanh sả 350ml</a><p class="product-price"><span>25,000₫</span></p></div></div></div></th>
      <th ><div class="col-10 col-sm-6 col-md-3 py-2 flex-fit"><div class="card product product-card max-height"><div class="comp-img-resize card-img-top"><div class="comp-img-resize-img"><img loading="lazy" class="" src="https://img.dominos.vn/dao-hat-chia.jpg" alt=""></div></div><div class="card-body justify-content-between"><a class="product-name bs-product-name" href="#">Trà đào hạt chia 350ml</a><p class="product-price"><span>25,000₫</span></p></div></div></div></th>
    </tr>
  </thead>
</table>



